*{
    background-color: rgb(246, 244, 241);
    /* font-family: 'Mynerve', cursive;
    font-family: 'Nunito Sans', sans-serif; */
    /* font-family: 'Phudu', cursive; */
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'Tilt Prism', cursive; */
    /*font-family: 'Shantell Sans', cursive; */
    margin:0;
    padding:0;
}

#header{

    display: inline-flex;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 12px 12px 2px 1px rgba(4, 4, 173, 0.1);
    width: 100%;
    
}
#header .Logo {
    width: 100%;
}

#header .Logo img{
    padding:0,0,35px;
    border-radius: 1rem;
    width: 100%;
}
#header .menu{
    padding: 25px, 25px;
}
#header .menu a{
    
    border-radius: 5px;
    text-decoration: none;
    font-size: 45px;
    padding:25px;
    transition:0.8s;
    width: 100%;
}
#header .menu a:hover{
    color:black;
}
#header .button img{
    padding:0,0,35px;
    border-radius: 1rem;
    width: 100%;
}
footer{
    display: inline-flex;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
}
footer a{
    padding: 10px;
}
